body {
}
.text {
    color:red;
    text-decoration: overline;
}
.text2 {
    color: #71ffb0;
    text-decoration: line-through;
}
.text3 {
    color: rgb(70, 98, 120);
    text-decoration: underline;
}
.text4 {
    color: rgba(0, 0, 0.4);
    text-decoration: underline overline;
}
.p1 {
    font-family: 'Times New Roman', Times, serif;
}
.p2 {
    font-family: Arial, Helvetica, sans-serif;
}
